@import "https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap";
html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 40px;
}

h1 {
 font-family: 'Cormorant', serif;
 line-height: 1.2;
 font-weight: bold;
}

.firstList, .secondList {
    list-style-type: disc;
}

.thirdList {
    list-style-type: circle;
}