body {
    margin: 50px;
}
article {
background-color: rgb(51, 102, 153);
border-radius: 1rem;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
line-height: 1.5;
color:white;
padding: 20px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}