body {
    max-width: 1200px;
    margin-left: 35px;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    color: black;
    text-decoration: none;
}

header {
display: flex;
align-items: center;
}

nav {
margin-left: 55%;
}

.first-list {
display: inline-flex;
flex-direction: row;
gap: 5px;
}

.first-list li {
list-style: none;
}

li a {
color:green;
text-decoration: unset;
}

.first-section {
    display: inline-flex;
    flex-wrap:nowrap;
    align-items:flex-start; 
}

img {
    width: 30%;
}








