body {
    max-width: 1200px;
    margin-left: 35px;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    color: black;
    text-decoration: unset;
}

header {
display: flex;
align-items: center;
}

nav {
margin-left: 55%;
}

.first-list {
display: inline-flex;
flex-direction: row;
gap: 5px;
}

.first-list li {
list-style: none;
}

li a {
color:green;
text-decoration: unset;
}

.first-section {
display: flex; 
justify-content:space-around;
}

img {
    width: 30%;
}

.section-with-image {
    text-align: center;
}






